---
layout: default
---
<!-- SLIDER -->
<div class="slider" data-tesla-plugin="slider" data-tesla-item=".slide" data-tesla-next=".slide-right" data-tesla-prev=".slide-left" data-tesla-container=".slide-wrapper">
    <ul class="slider-arrows">
        <li class="slide-left"><i class="fa fa-chevron-left"></i></li>
        <li class="slide-right"><i class="fa fa-chevron-right"></i></li>
    </ul>

    <ul class="slide-wrapper">
        {% for sliderImage in site.data.img_srcs.slider %}
            <li class="slide">
                <div class="slide-text">
                    <h1>discover the hidden <span>alter ego</span><br/> of your body</h1>
                    <h2>Unleash your fears, free your mind, feel your body</h2>
                    <!--<a href="#" class="button-1 d-bg-c d-text-c-h d-border-c">read more</a>-->
                </div>
                {{ sliderImage | image }}
            </li>
        {% endfor %}
    </ul>

    <ul class="counting" data-tesla-plugin="bullets">
        {% for sliderImage in site.data.img_srcs.slider %}
            <li class=""></li>
        {% endfor %}
    </ul>
</div>
<!-- SLIDER -->

<!--ICON BAR-->
<div>
    <div class="transparent-container">
        <div class="place-info d-bg-c container" style="background-color: transparent !important;">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="place-info-box">
                        <div class="place-info-icon"><i class="fa fa-asterisk"></i></div>
                        <h5>USP 1</h5>
                        <h6>USP 1 Tagline</h6>
                        <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure. </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="place-info-box">
                        <div class="place-info-icon"><i class="fa fa-asterisk"></i></div>
                        <h5>USP 2</h5>
                        <h6>USP 2 Tagline</h6>
                        <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure. </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="place-info-box place-info-box-last">
                        <div class="place-info-icon"><i class="fa fa-asterisk"></i></div>
                        <h5>USP 3</h5>
                        <h6>USP 3 Tagline</h6>
                        <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--ICON BAR-->

<!--CLASSES SECTION-->
<div class="separator-info" id="classes">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h3 class="d-border-c">Our Classes</h3>
            </div>
            <div class="col-md-9">
                <p>To take a trivial example, which of us ever undertakes laborious physical <br/>exercise, except to obtain some advantage from it</p>
            </div>
        </div>
    </div>
</div>

<div class="white-bg container">
    <div class="row trainers" style="padding-top:0;">
        <div class="col-md-3 col-sm-6 col-xs-12 class-item" style="background: url({% asset_path TRX-Rip-Trainer-5.jpg %}) top center; background-size: cover;">
            <div class="class-item-content" style="background-color: rgba(40,43, 40, 0.7)">
                {% image trx_logo.png class="classes-logo" style="margin-bottom: 30px" %}

                <p class="classes-description">
                    To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it
                </p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 class-item" style="background: url({% asset_path movnat_trees_reduced.jpg %}) top center; background-size: cover;">
            <div class="class-item-content" style="background-color: rgba(66,67, 66, 0.7)">
                {% image movnat_logo_black.png class="classes-logo" style="margin-bottom: 30px" %}
                <p class="classes-description">
                    To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it
                </p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 class-item" style="background: url({% asset_path fms.jpg %}) top center; background-size: cover;">
            <div class="class-item-content" style="background-color: rgba(47,50, 58, 0.7)">
                {% image fms_logo.png class="classes-logo" style="margin-bottom: 30px" %}
                <p class="classes-description">
                    To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it
                </p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 class-item" style="background: url({% asset_path gravity_sys_reduced.jpg %}) top center; background-size: cover;">
            <div class="class-item-content" style="background-color: rgba(14,11, 8, 0.7)" style="margin-bottom: 30px">
                {% image gravity_logo_transparent.png class="classes-logo" style="margin-bottom: 50px; width: 50%; height: auto;" %}
                <p class="classes-description">
                    To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it
                </p>
            </div>
        </div>
    </div>
</div>

<!--CLASSES SECTION-->

<!-- PARALLAX -->
<div class="parallax parallax-4" style="background: url({% asset_path slide-2_reduced.jpg %}) top fixed no-repeat; background-size: cover;">
    <div class="black-bg padding" style="padding: 30px;">
        <div class="container">
            <h2>NEW CARDIO CLASSES THIS SUMMER. PAY NOW AND GET 25% DISCOUNT</h2>
            <br/>
            <a href="#" class="button-1 d-bg-c d-text-c-h d-border-c bold">GET IN TOUCH</a>
        </div>
    </div>
</div>
<!-- PARALLAX -->


<!-- SEPARATOR INFO -->
<div class="separator-info" id="trainers">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h3 class="d-border-c">Our trainers</h3>
            </div>
            <div class="col-md-9">
                <p>To take a trivial example, which of us ever undertakes laborious physical <br/>exercise, except to obtain some advantage from it</p>
            </div>
        </div>
    </div>
</div>
<!-- SEPARATOR INFO -->


<!-- TRAINERS -->
<div class="lessons trainers" data-tesla-plugin="carousel" data-tesla-container=".tesla-carousel-items" data-tesla-item=">div" data-tesla-rotate="false" data-tesla-autoplay="false" data-tesla-hide-effect="false">
    <div class="lessons-arrows">
        <span class="next"><i class="fa fa-chevron-right"></i></span>
        <span class="prev disabled"><i class="fa fa-chevron-left"></i></span>
    </div>
    <div class="container">
        <div class="row tesla-carousel-items">

            {% for trainer in site.data.trainer_bios %}
                <div class="col-md-4 col-xs-12">
                    <div class="trainer">
                        <div class="trainer-class d-border-c d-text-c">{{ trainer.specialty }}</div>
                        <a href="" data-toggle="modal" data-target="#{{ trainer.id }}">
                            <div class="trainer-hover">
                                <h5 class="d-text-c">{{ trainer.name }}</h5>
                                <ul style="text-align:center">
                                    {% for bullet in trainer.overview_bullets %}
                                    <li style="font-size: 11px; padding: 0 10px;"><i class="d-text-c fa fa-star"></i> {{ bullet }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </a>
                        {{ trainer.profile_photo_src | image}}
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
</div>
<!-- TRAINERS -->

<!--MODAL TEMPLATES -->

{% for trainer in site.data.trainer_bios %}

<div class="modal fade" id="{{trainer.id}}" tabindex="-1" role="dialog" aria-labelledby="trainerBio" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="padding:2%;">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="separator-info">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <h3 class="d-border-c" style="border-right: 0; border-left: #f9690e solid 6px; padding-left: 20px; text-align: left;">{{ trainer.name }}</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-5 col-xs-12 trainer-profile-pic-wrapper">
                        <img class="trainer-profile-pic" src="{{trainer.profile_photo_src | asset_path}}">
                    </div>
                    <div class="col-md-8 col-sm-7 col-xs-12 trainer-profile-contentbody">
                        <p>{{ trainer.body }}</p>

                        {% for bullet in trainer.bullets %}
                        <p class="trainer-profile-wrapper"><i class="fa fa-star table-cell star-bullet"></i><span class="table-cell">{{ bullet }}</span></p>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endfor %}
<!--MODAL TEMPLATES-->

<!-- TESTIMONIALS -->
<div class="parallax parallax-5 testimonials" style="background: url({% asset_path TRX-Rip-Trainer-5.jpg %}) top center no-repeat fixed; background-size: cover;">
    <div class="black-bg padding">
        <div class="container">
            <div class="testimonials-icon"><i class="d-bg-c fa fa-quote-right"></i></div>
            <div class="slider" data-tesla-plugin="slider" data-tesla-item=".slide" data-tesla-next=".slide-right" data-tesla-prev=".slide-left" data-tesla-container=".slide-wrapper">
                <ul class="slide-wrapper">
                    <li class="slide">
                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heartle heart. I am alone, and feel the charm of existence in this spot, which was created for the I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy.</p>
                        <h5>John Doe<span class="d-text-c">YOGA, 8 months</span></h5>
                    </li>
                    <li class="slide">
                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy.</p>
                        <h5>Richardo Rino<span class="d-text-c">BOXING, 1 year</span></h5>
                    </li>
                    <li class="slide">
                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy.</p>
                        <h5>Alexa Maxewell<span class="d-text-c">PILATES, 11 months</span></h5>
                    </li>
                </ul>
                <ul class="counting" data-tesla-plugin="bullets">
                    <li class=""></li>
                    <li class=""></li>
                    <li class=""></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- TESTIMONIALS -->

<!-- SEPARATOR INFO -->
<div class="separator-info" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h3 class="d-border-c" style="border-right: 0; border-left: #f9690e solid 6px; padding-left: 20px; text-align: left;">Get in touch</h3>
            </div>
        </div>
    </div>
</div>
<!-- SEPARATOR INFO -->

<!-- MAP -->
<div class="map-location">
    <iframe src="{{site.google_maps_url}}" width="600" height="450" frameborder="0" style="border:0"></iframe>
</div>

<div class="row" style="padding: 30px 0; margin-right: 0 !important;">
    <div class="container">
        <div class="col-md-6">
            <div class="trainer-profile-wrapper"><span class="table-cell"><h4>HAVE A QUESTION?</h4> <h5>Feel free to leave us a message by clicking on the tab below on the right. We'll get back to you as soon as we can.</h5></span></div>
            <br>
        </div>
        <div class="col-md-6">
            <h4>ADDRESS</h4>
            <div class="trainer-profile-wrapper"><i class="fa fa-building table-cell star-bullet" style="vertical-align: top; padding-top: 8px;"></i><span class="table-cell">{{ site.data.contact_details.address }}</span></div>
            <br>
            <div class="trainer-profile-wrapper"><i class="fa fa-calendar table-cell star-bullet"></i><span class="table-cell">{{ site.data.contact_details.business_hours }}</span></div>
            <br>
            <div class="trainer-profile-wrapper"><i class="fa fa-phone table-cell star-bullet"></i> <span class="table-cell">{{ site.data.contact_details.telephone }}</span></div>
            <br>
        </div>
    </div>
</div>
<!-- MAP -->
