---
layout: default
---
<!-- SLIDER -->
<div class="slider" data-tesla-plugin="slider" data-tesla-item=".slide" data-tesla-next=".slide-right" data-tesla-prev=".slide-left" data-tesla-container=".slide-wrapper">
    <ul class="slider-arrows">
        <li class="slide-left"><i class="fa fa-chevron-left"></i></li>
        <li class="slide-right"><i class="fa fa-chevron-right"></i></li>
    </ul>

    <ul class="slide-wrapper">
        {% for sliderImage in site.data.img_srcs.slider %}
            <li class="slide">
                <div class="slide-text">
                    <h1>discover the hidden <span>alter ego</span><br/> of your body</h1>
                    <h2>Unleash your fears, free your mind, feel your body</h2>
                    <a href="#" class="button-1 d-bg-c d-text-c-h d-border-c">read more</a>
                </div>
                {{slideImage}}
                <img src="{{ sliderImage }}" alt="slide">
            </li>
        {% endfor %}
    </ul>

    <ul class="counting" data-tesla-plugin="bullets">
        {% for sliderImage in site.data.img_srcs.slider %}
            <li class=""></li>
        {% endfor %}
    </ul>
</div>
<!-- SLIDER -->

<!--ICON BAR-->
<div id="classes padding">
    <div class="transparent-container">
        <div class="place-info d-bg-c container">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="place-info-box">
                        <div class="place-info-icon"><i class="fa fa-asterisk"></i></div>
                        <h5>USP 1</h5>
                        <h6>USP 1 Tagline</h6>
                        <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure. </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="place-info-box">
                        <div class="place-info-icon"><i class="fa fa-asterisk"></i></div>
                        <h5>USP 2</h5>
                        <h6>USP 2 Tagline</h6>
                        <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure. </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="place-info-box place-info-box-last">
                        <div class="place-info-icon"><i class="fa fa-asterisk"></i></div>
                        <h5>USP 3</h5>
                        <h6>USP 3 Tagline</h6>
                        <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--ICON BAR-->

<!--CLASSES SECTION-->
<div class="separator-info" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h3 class="d-border-c">Our Classes</h3>
            </div>
            <div class="col-md-9">
                <p>To take a trivial example, which of us ever undertakes laborious physical <br/>exercise, except to obtain some advantage from it</p>
            </div>
        </div>
    </div>
</div>

<div class="white-bg classes-section container">
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12 class-item" style="padding:0;"><p class="class-item-content">FMS</p></div>
        <div class="col-md-3 col-sm-6 col-xs-12 class-item" style="padding:0;"><p class="class-item-content">FMS</p></div>
        <div class="col-md-3 col-sm-6 col-xs-12 class-item" style="padding:0;"><p class="class-item-content">FMS</p></div>
        <div class="col-md-3 col-sm-6 col-xs-12 class-item" style="padding:0;"><p class="class-item-content">FMS</p></div>
    </div>
</div>

<!--CLASSES SECTION-->

<!-- PARALLAX -->
<div class="parallax parallax-4">
    <div class="black-bg padding" style="padding: 30px;">
        <div class="container">
            <h2>NEW CARDIO CLASSES THIS SUMMER. PAY NOW AND GET 25% DISCOUNT</h2>
            <h4>If you like our theme don’t forget to rate it with 5 stars</h4>
            <br/>
            <a href="#" class="button-1 d-bg-c d-text-c-h d-border-c bold">read more</a>  &nbsp; &nbsp; &nbsp; <a href="#" class="button-3 d-bg-c-h d-border-c-h bold">purchase now</a>
        </div>
    </div>
</div>
<!-- PARALLAX -->


<!-- SEPARATOR INFO -->
<div class="separator-info" id="trainers">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h3 class="d-border-c">Our trainers</h3>
            </div>
            <div class="col-md-9">
                <p>To take a trivial example, which of us ever undertakes laborious physical <br/>exercise, except to obtain some advantage from it</p>
            </div>
        </div>
    </div>
</div>
<!-- SEPARATOR INFO -->


<!-- TRAINERS -->
<div class="lessons trainers" data-tesla-plugin="carousel" data-tesla-container=".tesla-carousel-items" data-tesla-item=">div" data-tesla-rotate="false" data-tesla-autoplay="false" data-tesla-hide-effect="false">
    <div class="lessons-arrows">
        <span class="next"><i class="fa fa-chevron-right"></i></span>
        <span class="prev disabled"><i class="fa fa-chevron-left"></i></span>
    </div>
    <div class="container">
        <div class="row tesla-carousel-items">
            <div class="col-md-4 col-xs-12">
                <div class="trainer">
                    <div class="trainer-class d-border-c d-text-c">Boxing</div>
                    <div class="trainer-hover">
                        <h5 class="d-text-c">John Snape</h5>
                        <ul>
                            <li><i class="d-text-c fa fa-trophy"></i> 7 International Awards</li>
                            <li><i class="d-text-c fa fa-bolt"></i> 5 Years of Experience</li>
                        </ul>
                    </div>
                    <img src="img/photos/trainer-1.jpg" alt="trainer" />
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="trainer">
                    <div class="trainer-class d-border-c d-text-c">Fitness</div>
                    <div class="trainer-hover">
                        <h5 class="d-text-c">Alias Wurst</h5>
                        <ul>
                            <li><i class="d-text-c fa fa-trophy"></i> 7 International Awards</li>
                            <li><i class="d-text-c fa fa-bolt"></i> 5 Years of Experience</li>
                        </ul>
                    </div>
                    <img src="img/photos/trainer-2.jpg" alt="trainer" />
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="trainer">
                    <div class="trainer-class d-border-c d-text-c">Sport</div>
                    <div class="trainer-hover">
                        <h5 class="d-text-c">Max Trapon</h5>
                        <ul>
                            <li><i class="d-text-c fa fa-trophy"></i> 7 International Awards</li>
                            <li><i class="d-text-c fa fa-bolt"></i> 5 Years of Experience</li>
                        </ul>
                    </div>
                    <img src="img/photos/trainer-3.jpg" alt="trainer" />
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="trainer">
                    <div class="trainer-class d-border-c d-text-c">Pilates</div>
                    <div class="trainer-hover">
                        <h5 class="d-text-c">John Snape</h5>
                        <ul>
                            <li><i class="d-text-c fa fa-trophy"></i> 7 International Awards</li>
                            <li><i class="d-text-c fa fa-bolt"></i> 5 Years of Experience</li>
                        </ul>
                    </div>
                    <img src="img/photos/trainer-4.jpg" alt="trainer" />
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="trainer">
                    <div class="trainer-class d-border-c d-text-c">Boxing</div>
                    <div class="trainer-hover">
                        <h5 class="d-text-c">John Snape</h5>
                        <ul>
                            <li><i class="d-text-c fa fa-trophy"></i> 7 International Awards</li>
                            <li><i class="d-text-c fa fa-bolt"></i> 5 Years of Experience</li>
                        </ul>
                    </div>
                    <img src="img/photos/trainer-1.jpg" alt="trainer" />
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="trainer">
                    <div class="trainer-class d-border-c d-text-c">Swiming</div>
                    <div class="trainer-hover">
                        <h5 class="d-text-c">John Snape</h5>
                        <ul>
                            <li><i class="d-text-c fa fa-trophy"></i> 7 International Awards</li>
                            <li><i class="d-text-c fa fa-bolt"></i> 5 Years of Experience</li>
                        </ul>
                    </div>
                    <img src="img/photos/trainer-2.jpg" alt="trainer" />
                </div>
            </div>
        </div>
    </div>
</div>
<!-- TRAINERS -->

<!-- MAP -->
<div class="map-location">
    <div class="container">
        <form class="d-bg-c contact-form">
            <h3>GET IN TOUCH</h3>
            <div style="padding-bottom: 15px;">
                <div><i class="fa fa-phone"></i> {{ site.data.contact_details.telephone }}</div>
                <div><i class="fa fa-calendar"></i> {{ site.data.contact_details.business_hours }}</div>
            </div>
            <input type="text" name="contact-name" class="contact-form-line" placeholder="Name">
            <input type="text" name="contact-email" class="contact-form-line" placeholder="E-mail">
            <textarea name="contact-message" class="contact-form-area" placeholder="Message"></textarea>
            <input type="submit" value="Send" class="form-send button-2 bold d-text-c d-text-c-h">
        </form>
    </div>
    <iframe src="https://www.google.com/maps/embed/v1/place?q=%205%2FF%20Wing%20Yee%20Commercial%20Building%2C%205%20Wing%20Kut%20Street%2C%20Central&key=AIzaSyDSHso5Dp1I98iDm6crpS9Qk4i8t73qVaI" width="600" height="450" frameborder="0" style="border:0"></iframe>
</div>
<!-- MAP -->

