<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6"><p>© Copyright 2015 360 Fitness Limited. All rights reserved.</p></div>
            <div class="col-md-6">
                <ul class="social">
                    <li><a href="#" class="d-bg-c-h"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" class="d-bg-c-h"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" class="d-bg-c-h"><i class="fa fa-pinterest"></i></a></li>
                    <li><a href="#" class="d-bg-c-h"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#" class="d-bg-c-h"><i class="fa fa-dribbble"></i></a></li>
                    <li><a href="#" class="d-bg-c-h"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#" class="d-bg-c-h"><i class="fa fa-rss"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
