<header>
    <div class="top-header d-border-c">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul>
                        <li><i class="fa fa-phone d-text-c"></i>{{ site.data.contact_details.telephone }}</li>
                        <li><i class="fa fa-calendar d-text-c"></i>{{ site.data.contact_details.business_hours }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="bottom-header" id="home">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="logo">
                        <i class="rombust d-bg-c d-border-c"><i class="fa fa-trophy"></i></i><a href="index.html"> Hercules</a>
                    </div>
                </div>
                <div class="col-md-8">
                    <nav class="menu">
                        <div class="responsive-menu d-text-c-h"><i class="fa fa-align-justify"></i>Menu</div>
                        <ul>
                            <li class="active"><a class="d-text-c-h" href="index.html">Home</a>
                                <ul>
                                    <li><a class="d-text-c-h" href="index.html">Home</a></li>
                                    <li><a class="d-text-c-h" href="index-one-page.html">One Page Home</a></li>
                                </ul>
                            </li>
                            <li><a class="d-text-c-h" href="#">Gallery</a>
                                <ul>
                                    <li><a class="d-text-c-h" href="gallery-2.html">Gallery 2C</a></li>
                                    <li><a class="d-text-c-h" href="gallery-3.html">Gallery 3C</a></li>
                                    <li><a class="d-text-c-h" href="gallery-4.html">Gallery 4C</a></li>
                                </ul>
                            </li>
                            <li><a class="d-text-c-h" href="#">Pages</a>
                                <ul>
                                    <li><a class="d-text-c-h" href="classes.html">Classes</a></li>
                                    <li><a class="d-text-c-h" href="trainers.html">Trainers</a></li>
                                    <li><a class="d-text-c-h" href="timetable.html">Timetable</a></li>
                                    <li><a class="d-text-c-h" href="error-404.html">Error-404</a></li>
                                    <li><a class="d-text-c-h" href="project.html">Single project</a></li>
                                    <li><a class="d-text-c-h" href="shop.html">Shop page</a></li>
                                    <li><a class="d-text-c-h" href="shop-item.html">Single Product</a></li>
                                    <li><a class="d-text-c-h" href="cart.html">Cart Page</a></li>
                                    <li><a class="d-text-c-h" href="login-register.html">Login/Register Page</a></li>
                                </ul>
                            </li>
                            <li><a class="d-text-c-h" href="shortcodes.html">Shortcodes</a></li>
                            <li><a class="d-text-c-h" href="#">Blog</a>
                                <ul>
                                    <li><a class="d-text-c-h" href="blog-2-ls.html">Blog Full width</a></li>
                                    <li><a class="d-text-c-h" href="blog-2-ls.html">Blog 2C LS</a></li>
                                    <li><a class="d-text-c-h" href="blog-2-rs.html">Blog 2C RS</a></li>
                                    <li><a class="d-text-c-h" href="blog-3-ls.html">Blog 3C LS</a></li>
                                    <li><a class="d-text-c-h" href="post.html">Single post</a></li>
                                </ul>
                            </li>
                            <li><a class="d-text-c-h" href="contact.html">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>