<header class="navbar-fixed-top">
    <!--<div id="#home" class="top-header d-border-c">-->
        <!--<div class="container">-->
            <!--<div class="row">-->
                <!--<div class="col-md-12">-->
                    <!--<ul>-->
                        <!--<li><i class="fa fa-phone d-text-c"></i>{{ site.data.contact_details.telephone }}</li>-->
                        <!--<li><i class="fa fa-calendar d-text-c"></i>{{ site.data.contact_details.business_hours }}</li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <div class="bottom-header" id="home">
        <div class="container">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                            <i class="fa fa-align-justify"></i>
                        </button>

                        <a class="navbar-brand" href="#">{{'360-logo-hd.png' | image}}</a>
                    </div>

                    <div class="collapse navbar-collapse" id="navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a data-scroll class="navbar-item" href="#home">HOME</a></li>
                            <li><a data-scroll class="navbar-item" href="#classes">CLASSES</a></li>
                            <li><a data-scroll class="navbar-item" href="#trainers">TRAINERS</a></li>
                            <li><a data-scroll class="navbar-item" href="/360">THE 360</a></li>
                            <li><a data-scroll class="navbar-item" href="#">BLOG</a></li>
                            <li><a data-scroll class="navbar-item" href="#contact">CONTACT</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>
